body {
    background: url('foto\ inicio.PNG') no-repeat center center fixed;
    /* Coloque o nome da sua imagem aqui */
    background-size: cover;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(146, 98, 98, 0.404);
    /* Cinza com mais opacidade */
    padding: 40px;
    /* Aumentei o padding */
    border-radius: 10px;
    max-width: 450px;
    /* Aumentei a largura máxima */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Aumentei a sombra para mais destaque */
}

h1 {
    text-align: center;
    font-size: 2.5em;
    /* Aumentei o tamanho da fonte do título */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #c70000;
}

.create-account {
    width: 100%;
    padding: 12px;
    background-color: #0000009a;
    /* Azul */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    /* Espaço acima do botão */
}

.create-account:hover {
    background-color: #0056b3;
    /* Azul mais escuro ao passar o mouse */
}